@using ProjectTravelTrip.Models.Siniflar;
@model List<Otel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}



<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Rehber</h3>
            <img src="~/web/images/dest_banner.jpg" alt="" />
        </div>
        <div class="grids">
            <div class="box1">
                <div class="padding">
                    <h4>En Beğenilen Oteller</h4>
                    @{ int i = 0;}
                    <ul class="list list-pad">
                        @foreach (var x in Model)
                        {
                            <li class="list-bg"><span>@{i++;} @i.</span><a href="/Rehber/OtelDetay/@x.ID">@x.OtelAdi</a></li>
                        }
                    </ul>
                    <a href="/Otel/Index/" class="link1">Tüm Otelleri Gör</a>
                </div>
                @Html.Action("RestoranPartial", "Rehber")
               

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
